<div layout="column" layout-fill>
    <div align="center" layout="row" layout-align="center center">
  
      <mat-card class="info-card mat-elevation-z8" flex="80" style="margin-top: 60px;width: 800px;;">
  
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
  
        <mat-card-content fxLayout="column" fxLayoutAlign="stretch" >
          
          <form fxLayout="column" fxLayoutAlign="start stretch">
  
            <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
              <mat-form-field fxFlex="45" >  
                <input matInput type="text" class="form-control" value="" placeholder="First Name" >
              </mat-form-field> 
              <mat-form-field fxFlex="45">
                <input matInput type="text" class="form-control" value="" placeholder="Last Name" >
              </mat-form-field>
            </div>
  
            <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  start">
  
              <mat-form-field fxFlex="45">
                <input matInput  [matDatepicker]="dtbirth" placeholder="Date of Birth">
                <mat-datepicker-toggle matSuffix [for]="dtbirth"></mat-datepicker-toggle>
                <mat-datepicker #dtbirth></mat-datepicker>
              </mat-form-field>
  
              <mat-radio-group  fxFlex="45" fxLayout="column" fxLayoutAlign="space-between start" >
                <mat-radio-button value="Male" checked>Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
              </mat-radio-group>      
  
            </div>          
  
            <div fxFlex="100" fxLayoutAlign="start">
                <h4>Address:</h4>
            </div>
            <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between start">
              <mat-form-field fxFlex="40" >  
                <input matInput type="text" 
                  class="form-control" value="" placeholder="Street" >
              </mat-form-field> 
              <mat-form-field fxFlex="30">
                <input matInput type="text"  
                  class="form-control" value="" placeholder="City" >
              </mat-form-field>
   
              <mat-form-field fxFlex="20">
                <mat-select placeholder="State"  >
                  <mat-option value="Option 1">Option 1</mat-option>
                  <mat-option value="Option 2">Option 2</mat-option>
                  <mat-option value="Option 3">Option 3</mat-option>  
                </mat-select>
              </mat-form-field>
            </div>
  
            <div fxFlex="100" fxLayoutAlign="start">
              <h4>Telephones: </h4>
            </div> 
  
            <div fxFlex="100"  fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px">
              <mat-form-field fxFlex="45" >
                <input matInput type="text"  
                  class="form-control" value="" placeholder="Telephone 1 " >
              </mat-form-field>
              <mat-form-field fxFlex="45" >  
                <input matInput type="text" 
                  class="form-control" value="" placeholder="Telephone 2" >
              </mat-form-field>
            </div>
  
            <button mat-button color="primary" type="submit" >
              <mat-icon>done</mat-icon>Submit
            </button>
            
          </form>
  
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
  
  
    </div>
  </div>
      